<ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/users">Users</a></li>
    <li class="breadcrumb-item active">Edit</li>
</ol>

<h3 *ngIf="user">
    <button class="btn btn-outline-secondary btn-sm" (click)="goBack()">Back</button>
    Edit
</h3>

<div class="row">
    <div class="col-md-6">

        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    {{user.username}}
                </h4>
                <user-form *ngIf="user" [user]="user" (onSubmitted)="onSubmitted()"></user-form>
            </div>
        </div>

    </div>
</div>
