<div class="container">
    <form *ngIf="model" (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div [ngClass]="{'has-danger': !username.valid && !username.pristine, 'has-success': username.valid}"
             class="form-group">
            <label for="username">Name</label>
            <input [ngClass]="{'form-control-danger': !username.valid && !username.pristine, 'form-control-success': username.valid}" #username="ngModel" [(ngModel)]="model.username" name="username" type="text" class="form-control" id="username" required #spy1>
            <div class="form-control-feedback" [hidden]="username.valid || username.pristine">Sorry! Name is required!</div>
            <!--<br>TODO: remove this: {{spy1.className}}-->
            <!--TODO: remove this: {{model.username}}-->
        </div>

        <div [ngClass]="{'has-danger': !email.valid && !email.pristine, 'has-success': email.valid}"
             class="form-group">
            <label for="email">Email</label>
            <input [ngClass]="{'form-control-danger': !email.valid && !email.pristine, 'form-control-success': email.valid}" #email="ngModel" [(ngModel)]="model.email" name="email" type="text" class="form-control" id="email" required #spy2>
            <div class="form-control-feedback" [hidden]="email.valid || email.pristine">Sorry! Email is required!</div>
            <!--<br>TODO: remove this: {{spy2.className}}-->
            <!--TODO: remove this: {{model.email}}-->
        </div>

        <div class="form-group">
            <label for="is_active">Is Active</label>
            <select [(ngModel)]="model.is_active" name="is_active" class="form-control" id="is_active" required>
                <option *ngFor="let state of states" [value]="state.key">{{state.label}}</option>
            </select>
        </div>

        <button [disabled]="!userForm.form.valid" class="btn btn-outline-secondary btn-sm" type="submit">
               Save
        </button>

    </form>
</div>