<ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
    <li class="breadcrumb-item active">Users</li>
</ol>

<h1>Users</h1>

<div class="row">
    <div class="col-md-2">
        <input class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value)">
    </div>
</div>

<div class="row top-buffer">

    <div *ngIf="users | async  as users" class="col-md-12">
        <table *ngIf="users.length" class="table table-bordered text-center">
            <thead class="thead-inverse">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users" >
                <td scope="row">{{user.username}}</td>
                <td scope="row">{{user.email}}</td>
                <td scope="row">
                    <span *ngIf="user.is_active">Yes</span>
                    <span *ngIf="!user.is_active">No</span>
                </td>
                <td>
                    <button class="btn btn-outline-secondary btn-sm" (click)="onSelect(user)">Details</button>
                    <button class="btn btn-outline-secondary btn-sm" (click)="goToDetail(user)">Edit</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Add new User</h4>
                <app-user-form (onSubmitted)="onSubmitted()"></app-user-form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div *ngIf="selectedUser" class="card">
            <div class="card-block">
                <h4 class="card-title">
                    User Details
                </h4>
                <ul>
                    <li>Username: {{selectedUser.username}}</li>
                    <li>Email: {{selectedUser.email}}</li>
                </ul>
                <button class="btn btn-outline-secondary btn-sm" (click)="goToDetail(selectedUser)">Edit</button>
            </div>
        </div>
    </div>
</div>