<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('css/min/login.css') }}" />
</head>
<body>

<div class="container">
    <div class="login-page">
        <div class="form">
            {% if error %}
                <div class="message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <h1>ANGULAR 4 CMS</h1>
            <form action="{{ path('login') }}" method="post">
                <input autocomplete="off" name="_username" type="text" placeholder="username"/>
                <input autocomplete="off" name="_password" type="password" placeholder="password"/>
                <button type="submit">login</button>
            </form>
        </div>
    </div>
</div>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>